<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nCov.DataView.dao.AbroadInputDOMapper">
    <resultMap id="BaseResultMap" type="com.nCov.DataView.model.entity.AbroadInputDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="provinceName" property="provincename" jdbcType="VARCHAR"/>
        <result column="theNumber" property="thenumber" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="DATE"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, provinceName, theNumber, date
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.nCov.DataView.model.entity.AbroadInputDOExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from abroadInput
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from abroadInput
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from abroadInput
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.nCov.DataView.model.entity.AbroadInputDOExample">
        delete from abroadInput
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.nCov.DataView.model.entity.AbroadInputDO">
        insert into abroadInput (id, provinceName, theNumber,
        date)
        values (#{id,jdbcType=INTEGER}, #{provincename,jdbcType=VARCHAR}, #{thenumber,jdbcType=INTEGER},
        #{date,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" parameterType="com.nCov.DataView.model.entity.AbroadInputDO">
        insert into abroadInput
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="provincename != null">
                provinceName,
            </if>
            <if test="thenumber != null">
                theNumber,
            </if>
            <if test="date != null">
                date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="provincename != null">
                #{provincename,jdbcType=VARCHAR},
            </if>
            <if test="thenumber != null">
                #{thenumber,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.nCov.DataView.model.entity.AbroadInputDOExample"
            resultType="java.lang.Integer">
        select count(*) from abroadInput
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update abroadInput
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.provincename != null">
                provinceName = #{record.provincename,jdbcType=VARCHAR},
            </if>
            <if test="record.thenumber != null">
                theNumber = #{record.thenumber,jdbcType=INTEGER},
            </if>
            <if test="record.date != null">
                date = #{record.date,jdbcType=DATE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update abroadInput
        set id = #{record.id,jdbcType=INTEGER},
        provinceName = #{record.provincename,jdbcType=VARCHAR},
        theNumber = #{record.thenumber,jdbcType=INTEGER},
        date = #{record.date,jdbcType=DATE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.nCov.DataView.model.entity.AbroadInputDO">
        update abroadInput
        <set>
            <if test="provincename != null">
                provinceName = #{provincename,jdbcType=VARCHAR},
            </if>
            <if test="thenumber != null">
                theNumber = #{thenumber,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nCov.DataView.model.entity.AbroadInputDO">
        update abroadInput
        set provinceName = #{provincename,jdbcType=VARCHAR},
        theNumber = #{thenumber,jdbcType=INTEGER},
        date = #{date,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>