<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nCov.DataView.dao.PassInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.nCov.DataView.model.entity.PassInfoDO">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="path_id" property="pathId" jdbcType="INTEGER"/>
    <result column="area" property="area" jdbcType="VARCHAR"/>
    <result column="type_num" property="typeNum" jdbcType="INTEGER"/>
    <result column="order_id" property="orderId" jdbcType="INTEGER"/>
    <result column="distance" property="distance" jdbcType="INTEGER"/>
    <result column="start_address" property="startAddress" jdbcType="VARCHAR"/>
    <result column="end_address" property="endAddress" jdbcType="VARCHAR"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, path_id, area, type_num, order_id, distance, start_address, end_address, title
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap"
          parameterType="com.nCov.DataView.model.entity.PassInfoDOExample">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List"/>
    from passInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from passInfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from passInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nCov.DataView.model.entity.PassInfoDOExample">
    delete from passInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insertList" parameterType="java.util.List">
    insert into passInfo (path_id, area,
    type_num, order_id, distance,
    start_address, end_address, title
    )
    values
    <foreach collection="list" item="PassInfoDO" index="index" separator=",">
      (
      #{PassInfoDO.pathId},
      #{PassInfoDO.area},
      #{PassInfoDO.typeNum},
      #{PassInfoDO.orderId},
      #{PassInfoDO.distance},
      #{PassInfoDO.startAddress},
      #{PassInfoDO.endAddress},
      #{PassInfoDO.title}
      )
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.nCov.DataView.model.entity.PassInfoDO">
    insert into passInfo (id, path_id, area,
    type_num, order_id, distance,
    start_address, end_address, title
    )
    values (#{id,jdbcType=INTEGER}, #{pathId,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR},
    #{typeNum,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{distance,jdbcType=INTEGER},
    #{startAddress,jdbcType=VARCHAR}, #{endAddress,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.nCov.DataView.model.entity.PassInfoDO">
    insert into passInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pathId != null">
        path_id,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="typeNum != null">
        type_num,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="distance != null">
        distance,
      </if>
      <if test="startAddress != null">
        start_address,
      </if>
      <if test="endAddress != null">
        end_address,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pathId != null">
        #{pathId,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="typeNum != null">
        #{typeNum,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="distance != null">
        #{distance,jdbcType=INTEGER},
      </if>
      <if test="startAddress != null">
        #{startAddress,jdbcType=VARCHAR},
      </if>
      <if test="endAddress != null">
        #{endAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nCov.DataView.model.entity.PassInfoDOExample"
          resultType="java.lang.Integer">
    select count(*) from passInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
    <select id="selectByPathId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select distinct order_id from passInfo where path_id = #{param1,jdbcType=INTEGER}
    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update passInfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pathId != null">
        path_id = #{record.pathId,jdbcType=INTEGER},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.typeNum != null">
        type_num = #{record.typeNum,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.distance != null">
        distance = #{record.distance,jdbcType=INTEGER},
      </if>
      <if test="record.startAddress != null">
        start_address = #{record.startAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.endAddress != null">
        end_address = #{record.endAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update passInfo
    set id = #{record.id,jdbcType=INTEGER},
    path_id = #{record.pathId,jdbcType=INTEGER},
    area = #{record.area,jdbcType=VARCHAR},
    type_num = #{record.typeNum,jdbcType=INTEGER},
    order_id = #{record.orderId,jdbcType=INTEGER},
    distance = #{record.distance,jdbcType=INTEGER},
    start_address = #{record.startAddress,jdbcType=VARCHAR},
    end_address = #{record.endAddress,jdbcType=VARCHAR},
    title = #{record.title,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nCov.DataView.model.entity.PassInfoDO">
    update passInfo
    <set>
      <if test="pathId != null">
        path_id = #{pathId,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="typeNum != null">
        type_num = #{typeNum,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="distance != null">
        distance = #{distance,jdbcType=INTEGER},
      </if>
      <if test="startAddress != null">
        start_address = #{startAddress,jdbcType=VARCHAR},
      </if>
      <if test="endAddress != null">
        end_address = #{endAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nCov.DataView.model.entity.PassInfoDO">
    update passInfo
    set path_id = #{pathId,jdbcType=INTEGER},
    area = #{area,jdbcType=VARCHAR},
    type_num = #{typeNum,jdbcType=INTEGER},
    order_id = #{orderId,jdbcType=INTEGER},
    distance = #{distance,jdbcType=INTEGER},
    start_address = #{startAddress,jdbcType=VARCHAR},
    end_address = #{endAddress,jdbcType=VARCHAR},
    title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>